@import "~@/style/const.scss";

.it-operations-item {
  display: flex;
  flex-direction: row;

  &__date {
    opacity: 0.8;
  }

  &__operation-type {
    font-size: $font-size-body ;
    opacity: 1;
  }
}
