// Font sizes
$font-size-body: 13px;
$font-size-grid: 11px;

// Colors
$green : #66CC66;
$yellow: #FFE06D;
$red: #FF7360;
$blue: #3399FF;
$text-color: #333333;
$grey: #979797;
$firefly: #091C28;
$light-grey: #A7A9AC;
$white-grey: #EDEEEE;

